{
    "env": {
        "browser": true,
        "commonjs": true,
        "node": true,
        "es6": true,
        "jasmine": true
    },
    "plugins": [
      "jasmine"
    ],
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            "error",
            "tab"
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "never"
        ],
        "no-console": [
            "error", {
                allow: [
                  "warn",
                  "error",
                  "assert",
                  "log"
                ]
            }
        ]
    }
}
